$googleFontsUrl: "https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");
@import "./style.scss";
@import "./style-preset.scss";
@import "./uikit.scss";
@import "../fonts/tabler-icons.min.css";
@import "../fonts/feather.css";
@import "../fonts/fontawesome.css";
@import "../fonts/material.css";

// Define a variable for the Google Fonts URL

// Import the Google Fonts using the @import directive

// Now you can use the font in your styles
// body {
//   font-family: 'Public Sans', sans-serif;
// }

.paymenttab {
  display: none !important;

  // background-color: transparent !important;
  // border: 0 !important;
}

.dropdown-menu .dropdown-item svg.svg-dropdown-icon {
  fill: var(--bs-dropdown-link-color);
  font-size: 5px;
}

#left-right-fix {
  overflow-x: scroll !important;
  overflow-y: scroll !important;
  height: 500px;
}

#right-fix {
  overflow-x: scroll !important;
  overflow-y: scroll !important;
  height: 500px;
}

.tableScroller {
  max-height: 250px;
  overflow-y: auto !important;
}

.modal-body {
  background-color: white !important;
}

#world-map-markers::-webkit-scrollbar {
  display: none;
}

.datatable-container-scroll {
  overflow-x: auto;
}
.ql-editor {
  height: 200px !important;
}
.custom-date {
  .react-datepicker-wrapper {
    display: inline;
  }
}
.react-select__control {
  padding: 0.3rem 0.7rem;
  border-radius: 8px !important;
}
.invalid-feedback {
  font-size: 0.8rem;
}
.html-content {
  span p {
    margin-bottom: 0;
  }
}

.active-scroll-spy {
  background-color: yellowgreen;
  border-radius: 15px;
  transition: all 0.5s;
}
.ss-item {
  color: black;
  padding: 30px;
  margin: 10px;
}

/* media query for screens less than 500px */
@media screen and (max-width: 500px) {
  .ss-item {
    padding: 17px;
  }
  .button-size {
    margin: 20px;
    font-size: 17px;
    padding: 15px 25px;
  }
}

.user-dashboard-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--bs-gray-400);

  .nav-item {
    .nav-link {
      border-radius: 0;
      color: var(--bs-gray-700);
    }
    .active {
      border-radius: 0;
      border-bottom: 2px solid #000;
      background-color: #fff;
      color: var(--bs-primary);
      border-bottom-color: var(--bs-primary);
    }
  }
}
.user-dashboard-sticky-action {
  top: 210px;
  position: sticky;
  z-index: 1020;
  background: var(--bs-card-bg);
  border-radius: 0;
}
.dashboard-recommendation {
  margin-top: 60px;
}
.user-dashboard-container {
  // height: 100vh;
}

.rounded-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.performancecard {
  background-color: var(--bs-primary-light);
}

.menu {
  margin-bottom: 20px;
  // position: fixed;
  // background-color: gainsboro;
  // z-index: 9999999;
  // top: 159px;
}

.menu-item {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  display: inline-block;
  margin-right: 15px;
}

.menu-item.active {
  border-bottom: 2px solid var(--pc-sidebar-active-color);
  color: var(--pc-sidebar-active-color);
}

.menucontainer {
  position: sticky;
  background-color: rgb(255, 255, 255);
  z-index: 9999999;
  top: 159px;
  width: 100%;
}

@media (max-width: 1024px) {
  .menucontainer {
    top: 95px;
  }
}

/* For mobile devices (small devices) */
@media (max-width: 480px) {
  .menucontainer {
    top: 100px;
  }
}

/* For very small screens */
@media (max-width: 320px) {
  .menucontainer {
    top: 80px;
  }
}

.container-min {
  min-height: 550px;
}

.check-icon {
  font-size: 20px;
  color: #28a745;
}

.beat-animation {
  animation: beat 0.5s infinite alternate;
}

@keyframes beat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}

.fixed-image-size {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  object-fit: cover;
}
